*{

margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: bold;

}

.contenedor{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    
}
.topnav{
position: absolute;
width: 100%;
height: 100px;
left: 0px;
top: 0px;


}

.logo{
position: absolute;
width: 193px;
height: 47.85px;
left: 197px;
top: 24.15px;

}
.linea{
position: absolute;
width: 142px;
height: 3px;
left: 50px;
top: 0px;

}

nav{
    flex:1;
    text-align: right;
}
.topnav ul li{
    list-style: none;/*Quita el punto*/
    display: inline-block;/*Los alinia en una linea por bloques*/
    margin-right: 125px;
    margin-top: 30px;
}
.selecciondado{
    /*margin-right: 50px;*/
    /*right: 50px;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom:5px;
    background: rgb(226, 226, 226);

}
.topnav ul li a{
    text-decoration: none;
    color: #01A1E9;
    font-size: 14px;
    
   
    }
    
.topnav ul li a:hover{
       color:  #6E29A9;
       padding-left: 25px;
       padding-right: 25px;
       padding-top: 5px;
       padding-bottom:5px;
       background: rgb(226, 226, 226);
       
    }

.imagenRascacielos{
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: -40px;
z-index: -1;
}

.titulomain{
color: #fff;
position: absolute;
width: 601px;
height: 226px;
left: 197px;
top: 256px;

font-family: 'Roboto';
font-style: normal;
font-weight: 1500;
font-size: 96px;
line-height: 112px;
}

.tituloh2{
position: absolute;
width: 378px;
height: 75px;
left: 770px;
top: 830px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
color: #6E29A9;
justify-content: center;
}

.row1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    color: red;
    top: 820px;
}

.col1row1{
    flex-basis: 40%;/*La propiedad de CSS flex-basis especifíca la base flexible, la cual es el tamaño inicial de un elemento flexible. Ésta propiedad determina el tamaño de una caja de contenidos a no ser que se haya especificado de otra forma usando box-sizing */
    position: relative;
    margin-left: 250px;
    background-color: red;
}

.imagenestadistica{
position: absolute;
width: 554px;
height: 389px;
left: 150px;
top: 30px;

}

.col2row1{
    position: absolute;
    width: 460px;
    height: 209px;
    left: 1055px;
    top: 30px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
        
    color: #000000;
}

.rectangulo{
position: absolute;
display: flex;
width: 272px;
height: 68px;
left: 0px;
top: 308px;

background: #6E29A9;
border-radius: 10px;
}

.alternativaapp{
    color: #fff;
    text-decoration: none;
    margin-left: 72px;
    padding-top:  12px;
}

.titulo2h2{
position: absolute;
width: 378px;
height: 75px;
left: 770px;
top: 1390px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
color: #6E29A9;
justify-content: center;
}

.lineasub{
position: absolute;
width: 135px;
height: 6px;
left: 904px;
top: 1466px;
}